{% macro url(icon) %}
  /icons.svg#{{ icon }}
{% endmacro %}

{% macro get(icon, class='', width='16', height='16') %}
  <div class="o-icon {{ class }}">
    <svg class="o-icon__svg" width="{{ width }}" height="{{ width }}" role="img">
      <use xlink:href="{{ url(icon) }}" />
    </svg>
  </div>
{% endmacro %}
