.l-nav {
  $link-padding-h: 1rem;
  $link-padding-v: .25rem;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0 1rem;

    @include max-width(nav) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: 2rem;
      padding: 0;
    }
  }

  &__item {
    &--active {
      position: relative;

      @include max-width(nav) {
        &::before {
          $offset-h: 4px;
          $offset-v: 2px;
          background: $highlight-colour;
          bottom: calc(#{$link-padding-v} - #{$offset-v});
          content: '';
          height: 2px;
          left: calc(#{$link-padding-h} - #{$offset-h});
          position: absolute;
          right: calc(#{$link-padding-h} - #{$offset-h});
        }
      }

      @include min-width(nav) {
        &::before {
          $size: 6px;
          background: $highlight-colour;
          border-radius: 50%;
          content: '';
          height: $size;
          left: -#{$size / 2};
          position: absolute;
          top: calc(50% - #{$size / 2});
          width: $size;
        }
      }
    }
  }

  &__link {
    display: block;
    padding: $link-padding-v $link-padding-h;
    text-decoration: none;

    &[href^='http'] {
      // external link
      position: relative;

      &:hover, &:focus {
        &::after {
          opacity: 1;
        }
      }

      &::after {
        color: rgba($body-text, .5);
        content: '(external)';
        font-size: .675rem;
        font-style: italic;
        font-weight: $font-light;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translate(.5em, -50%);
      }
    }
  }
}
