/**
 * typography global style rules
 */

html {
  font-size: $font-size;
}

html, body {
  font-family: $family-1;
  font-weight: $font-normal;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}

body {
  color: $body-text;
}

a, a:visited {
  color: $link-colour;
  transition: all .1s;
}

p a {
  &:hover, &:active, &:focus {
    text-decoration: underline;
  }
}

// headings
#{$sg-headings} {
  color: $heading-text;
  font-family: $family-1;
  font-weight: $font-bold;
  letter-spacing: $h-letter-spacing;
  line-height: $h-line-height;
  margin: 1.5rem 0;

  &:first-child {
    margin-top: 0;
  }
}

// increased margin on additional headings
* + h1, * + h2, * + h3 {
  margin-top: 2.5rem;
}

@each $heading in $sg-headings {
  #{$heading} {
    font-size: map-get($map: $h-size, $key: $heading);
  }
}
