{% macro async(url) %}
  <link rel="preload" as="style" href="{{ url }}" />
  <link rel="stylesheet"  href="{{ url }}" media="print" onload="this.media='all'" />
  <noscript>
    <link rel="stylesheet" href="{{ url }}" />
  </noscript>
{% endmacro %}


<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <link rel="profile" href="https://gmpg.org/xfn/11">

  {% include "meta.njk" %}

  <link rel="stylesheet" href="/css/main.css"/>
  {{ async('/css/header.css') }}
  {{ async('/css/content.css') }}
  {{ async('/css/footer.css') }}

  <!-- preconnect to cloudinary for images -->
  <link rel="preconnect" href="https://res.cloudinary.com" crossorigin />

  <!-- favicons -->
  <link rel="icon" href="/favicon.svg">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="mask-icon" href="/mask-icon.svg" color="#f0882b">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#f0882b">
  <meta name="theme-color" content="#ffffff">

  {% block head %}{% endblock %}
</head>

<body>

  <div class="app">
    <div class="l-container">
      {% include "header.njk" %}

      <main class="l-main">
        <section class="s-content">
          {{ content | safe }}
        </section>
      </main>
    </div>

    {% include "footer.njk" %}
  </div>

  <script src="/js/main.js"></script>
</body>
</html>
