{% import "icons.njk" as icons %}

<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <link rel="profile" href="https://gmpg.org/xfn/11">

  {% include "meta.njk" %}

  <link rel="stylesheet" href="/css/main.css"/>

  <!-- google fonts -->
  {% set fonts = 'https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap' %}
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="preload" as="style" href="{{ fonts }}" />
  <link rel="stylesheet"  href="{{ fonts }}" media="print" onload="this.media='all'" />
  <noscript>
    <link rel="stylesheet" href="{{ fonts }}" />
  </noscript>

  <!-- favicons -->
  <link rel="icon" href="/favicon.svg">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="mask-icon" href="/mask-icon.svg" color="#f0882b">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#f0882b">
  <meta name="theme-color" content="#ffffff">

  {% block head %}{% endblock %}
</head>

<body>

  <div class="app">
    <div class="l-container">
      {% include "header.njk" %}

      <main class="l-main">
        <link rel="stylesheet" href="/css/content.css"/>
        <section class="s-content">
          {{ content | safe }}
        </section>
      </main>
    </div>

    {% include "footer.njk" %}
  </div>

  <script src="/js/main.js"></script>
</body>
</html>
