// variables
$buttons: $sg-buttons;
$button-background: $white;
$button-hover-background: $highlight-colour;
$button-colour: $highlight-colour;
$button-hover-colour: $white;
$button-font-weight: $font-bold;
$button-font-family: inherit;
$button-font-size: 1rem;
$button-border-radius: 3px;
$button-letter-spacing: .1em;

// main button styling
%buttons {
  appearance: none;
  background: $button-background;
  border: 0;
  border-radius: $button-border-radius;
  color: $button-colour;
  cursor: pointer;
  display: inline-block;
  font-family: $button-font-family;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  letter-spacing: $button-letter-spacing;
  line-height: 1;
  margin: 0 0 .5rem;
  padding: .625rem 2rem;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all .2s;
  vertical-align: middle;
}

// buttons on focus
%buttons-hover {
  background: $button-hover-background;
  color: $button-hover-colour;
  text-decoration: none;
}

// apply styles to .button class, button element, and button-based inputs
#{$buttons} {
  @extend %buttons;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:hover,
  &:active {
    @extend %buttons-hover;
  }

  &:focus-visible {
    box-shadow: 0 0 0 10px $focus-outline;
  }
}

// button reset
@mixin buttonreset() {
  appearance: none;
  background: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: inherit;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  text-transform: none;
  transform: none;
  vertical-align: inherit;
  width: auto;
}

.btnreset {
  @include buttonreset();
}
