/**
 * lists of selectors to target group of elements
 */

$sg-buttons: (
  '.button',
  '.button:visited',
  'input[type=submit]',
  'input[type=reset]',
  'input[type=button]'
);

$sg-forms: (
  'input:not([type=checkbox])'
  'select',
  'textarea'
);

$sg-headings: (
  'h1',
  'h2',
  'h3',
  'h4',
  'h5',
  'h6'
);

